# LaTeX 编译产生的辅助文件
*.aux
*.bbl
*.blg
*.idx
*.ind
*.lof
*.lot
*.out
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.fls
*.log
*.fdb_latexmk
*.snm
*.nav
*.vrb
*.bcf
*.run.xml
*.synctex.gz
*.nlo
*.nls
*.ilg

# 如果你不想把生成的 PDF 提交到代码库，也可以加上：
# *.pdf